
.wrap
{
  overflow: hidden;
  position: fixed;

  background: black;
  opacity: 0.9;
  width: 100%;
  }
.meta li
  {
    display: inline;
    margin-left: 0;
    margin-right: 30px;
  }

  .meta a{
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
  }
  nav li
  {
    margin-bottom: 0;
    font-size: 15px;
    margin-left: 0;
  }

  .cde
    {
      font-size:35px;
      color: white;
      margin-bottom: 0;
      font-family: 'open sans';
      text-decoration: none;
    }
    h2
    {
      text-align:center;
      font-size: 35px;
      font-family:'open sans';
    }
    h3
    {
      color: black;
      font-size: 20px;
      text-align: center;
      padding-right: 40px;
      text-decoration: none;
      font-family:'open sans';
    }
    h4{
      font-size: 25px;
      color: white;
    }
    p{
      color: black;
      font-family: 'open sans';
    
    }

.foottext
{
  background-color: black;
  height: 20%;
  }
  .foot1 ul
  {
padding-top: 10px;
text-align: center;
    font-style: italic;
    color: white;

}
.texts{
  background-color:black ;
  height: 20%;
}
.foot1 ul li{
  text-decoration: none;
  display: inline;
  color: white;

}
.foot1 li a{
  color: white;
}
