form li{
  list-style: none;
  margin: 20px;
}
ul{
  padding-left: 0;
}
label
{
  display: block;
  cursor: pointer;
  font-family: sans-serif;
  color: solid black;
  padding-bottom: 8px;
}
textarea
{
  width:200px;
  height:100px;
}
