.wrap
{
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  background: black;
  opacity: 0.9;
  width: 100%;
  }
ul li
  {
    display: inline;
    margin-left: 0;
    margin-right: 30px;
  }
  a{
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
  }
  nav li
  {
    margin-bottom: 0;
    font-size: 15px;
    margin-left: 0;
  }
