body{
  margin: 0;
  }

  .box{
  width: 400px;
  height: 400px;
  margin:auto;
  background: red;
  position: relative;
  top: 200px;
}
.wrap
{
  width: 800px;
  height: 1000px;
  position: relative;
  margin: auto;
  background: lightgrey;
}
